@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  .dark {
    color-scheme: dark;
  }
}

@layer base {
  * {
    @apply font-sans antialiased;
  }

  .dark body {
    background-color: rgb(11, 15, 26);
  }
}
